.container{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-content: center;
}

h1{
    font-family: var(--font-family-primary);
    text-align: center;
}

.center p{
    margin-bottom: 20px ;
}