<app-campaign-header logoONG="../../../../../../assets/img/LOGO-SOMOS-MAS.png" eslogan="Campaña Juguete dona wacho" logoCamp="../../../../../../assets/img/campaña-juguetes/Logotipo campaña juguetes.png"></app-campaign-header>
<app-home-slides></app-home-slides>
<div class="container">
    <div class="center">
        <h1>01-01-1900 13:15 hs Calle 123, Localidad, Provincia</h1>
        <h1>Te quedan: 8d 3h 23m para participar</h1>
        <p>Descripcion de la campaña lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
</div>