<app-campaign-header logoONG="../../../../../../assets/img/LOGO-SOMOS-MAS.png" eslogan="Campaña juguetes" logoCamp="../../../../../../assets/img/campaña-juguetes/Logotipo campaña juguetes.png"></app-campaign-header>
<app-home-slides></app-home-slides>
<div class="container">
    <div class="center">
        <h1>Jun 3, 2022 16:40:00 hs Calle 123, Localidad, Provincia</h1>
        <h1>Te quedan: {{timeLeftString}} para participar</h1>
        <p>Descripcion de la campaña lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
</div>
<app-footer-campaign></app-footer-campaign>