

/*Slide Form*/
.error{

  color: rgb(156, 154, 154);
}

.container {
  background-color: #fff;
  border: 1.5rem solid #fff;
  box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.192);
  min-height: 500px;
  display: flex;
  font-family: var(--font-family-primary);
}




.list input {
  
  margin-bottom: 0.5rem;
}

.description input{
  
  margin-bottom: 2rem;

}

.form-select{
  font-size: 1rem;
  width: fit-content;
}

/* Image styles */

.img-title {
  margin-bottom: 20px;
}

.img {
  width: 300px;
  height: auto;
  margin-bottom: 12px;
}
//   End of image styles

#submit-button{
    position:relative;
    margin-top: 20px;
    right:10px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

