.p-button-raised{
  font-family: var(--font-family-primary);
  transition: 0.5s ease;
}
.p-button-raised:hover{
  transform: scale(1.1);
}
.text{
  font-family: var(--font-family-primary);
}
.p-button-info{
  font-family: var(--font-family-primary)!important;
  background-color: var(--lightblue)!important;
  border-color: var(--lightblue)!important;
}
.p-button-info:hover{
  background-color: var(--lightblue)!important;
  border-color: var(--lightblue)!important;
}
.p-button-secondary{
  font-family: var(--font-family-primary);
  background-color: rgb(193, 193, 193);
  border-color: rgb(193, 193, 193)!important;
  font-weight: 600;
}
.p-button-secondary:hover{
  background-color: rgb(193, 193, 193)!important;
  border-color: rgb(193, 193, 193)!important;
}
.p-button-danger{
  font-family: var(--font-family-primary);
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor)!important;
}
.p-button-danger:hover{
  background-color: var(--secondaryColor)!important;
  border-color: var(--secondaryColor)!important;
}
.bi-image{ 
  margin-right:5px
}
