<header></header>
<body>
  <h1 class="title">Editor de Slides</h1>
  <form [formGroup]="editarSlide" (ngSubmit)="editarForm(editarSlide.value)">
    <div class="container">
      <div class="col">
        <ul class="list">
          <h4>Nombre</h4>
          <div
            *ngIf="slide.name.length != 0; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock
            ><input
              type="text"
              class="form-control form-control-sm"
              value="{{ slide.name }}"
              formControlName="name"
              
              required
            />
            
          </ng-template>
          <ng-template #elseBlock
            ><input
              type="text"
              class="form-control form-control-sm"
              placeholder="Nombre del slide"
              formControlName="name"
              required
            />
            
            
          </ng-template>

          <h4 class="img-title">Imagen</h4>
          <div class="mb-3">
            <label for="formFile" class="form-label">Ingrese una imagen</label>
            <input
              (change)="getImage($event)"
              class="form-control"
              type="file"
              id="formFile"
              required
            />
          </div>
          
          <img class="img" [src]="images" alt="" />
        </ul>
      </div>
      <div class="col">
        <h4>Orden</h4>
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
          formControlName="order"
        >
          <option selected>Elige posición de Slide</option>
          <option value="1">Primero</option>
          <option value="2">Segundo</option>
          <option value="3">Tercero</option>
        </select>
        
        <h4 class="description">Descripción</h4>
        <div
          *ngIf="
            slide.description.length != 0;
            then thenBlock1;
            else elseBlock1
          "
        ></div>
        <ng-template #thenBlock1
          ><ckeditor
            [editor]="Editor"
            data="<p>{{ slide.description }}</p>"
            formControlName="description"
          ></ckeditor>
          
        </ng-template>
        <ng-template #elseBlock1
          ><ckeditor
            [editor]="Editor"
            data="<p>Escribe aqui la Descripción  </p>"
            formControlName="description"
          ></ckeditor>
          </ng-template
        >

        <button  type="submit" class="btn btn-primary" id="submit-button">
          Crear / Editar
        </button>
      </div>
    </div>
  </form>
</body>
