 
#second-title{
  padding-bottom: 20px;
}

.container {
  background-color: #fff;
  border: 1.5rem solid #fff;
  box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.192);
  min-height: 500px;
  display: flex;
}

.description input {
  margin-bottom: 2rem;
}

.form-select {
  font-size: 1rem;
  width: fit-content;
}

/* Image styles */

.second-title{
  margin-bottom: 10px;
  margin-top: 30px;
}

.img {
  width: 150px;
  height: auto;
}
//   End of image styles

#submit-button {
  
  margin-top: 20px;
  right: 10px;
}



@media (max-width:760px){
  .title{
    padding-top: 15vh;
    padding-bottom: 1rem;
    margin-left: 32%;
  }
  .container{
    display: block;
    height: 60%;
  }
  .col{
    width: 90%;
    height: 60%;
  }

 
  #mobile{
    display: block;
    margin-left: 7%;
  }
}