
<div class="home">

    <app-header></app-header>
    
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col" *ngFor="let element of backofficeRoute">
                    <a [href]=element.url>

                        <div class="img-container">
                            <div class="item-img"><img [src]=element.img alt=""></div>
                            <h2 class="item-name">{{element.name}}</h2>
                        </div>  
                    </a>        
                </div>

            </div>
        </div>
    </div>
</div> 