.header{
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 2px 0;
}

.row{    
    padding-top: 30px;
}

.img-container{
    width: 350px;
    min-height: 350px;    
    box-shadow: 1px 1px 2px 2px  rgb(145, 143, 143);
    border-radius: 1rem;
    transition: 0.7s ease all;
    cursor: pointer;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img-container:hover{
    transform: scale(1.05);
    background-color: lightblue;
    box-shadow: 1px 1px 2px 2px  rgb(40, 40, 70);
}



.img-container svg{    
    height: 50px;
    width: auto;
}

.img-container img{    
    height: 50px;
    width: auto;
}

.item-img{
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
}



.item-name{
    color: black;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 20px;      
}

a{
    text-decoration: none;
}

.body{
    background-color: var(--mainGrey);
    max-width: 100vw;
}

.home{
    max-width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}