<app-header [sidebar]="sideBar"></app-header>
<app-sidebar [elements]="elements" [elementsUrl]="elementsUrl" #sideBar></app-sidebar>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/backoffice/slides">
                <div class="img-container">
                    Slides
                </div>  
            </a>          
        </div>
        <div class="col">
            <div class="img-container">
                hola
            </div>    
        </div>
        <div class="col">
            <div class="img-container">
                <h1>hola</h1>
            </div>    
        </div>
        <div class="col">
            <div class="img-container">
                hola
            </div>            
        </div>
        <div class="col">
            <div class="img-container">
                hola
            </div>    
        </div>
        <div class="col">
            <div class="img-container">
                hola
            </div>    
        </div>
        
    </div>
</div>