
.flex-container{
    display: flex;
    justify-content: center;


    margin: 20px auto;
    flex-wrap: wrap;

}
.flex-container>div{
    background-color: var(--lightblue);
    border: 1px solid rgb(68, 108, 255);
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 10%;
    overflow: hidden;
}
.image img{
	object-fit: cover;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.image{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.text{
    font-family: var(--font-family-primary);
}
.name{
    font-size: large;
    font-weight: 600;
}
.description{
    font-size: medium;
}
.title{
    font-size: x-large;
    font-weight: bold;
}
.align-center{
    text-align: center;
}