
*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: center;


    margin: 20px auto;
    flex-wrap: wrap;

}
.flex-container>div{
    background: linear-gradient(to top, white, var(--lightblue));  
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgb(211, 208, 208);
}
.image img{
	object-fit: cover;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #fff;
}
.image{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.text{
    font-family: var(--font-family-primary);
}
.name{
    font-size: large;
    font-weight: 600;
}
.description{
    font-size: medium;
}
.title{
    font-size: x-large;
    font-weight: bold;
}
.align-center{
    text-align: center;
}
a{
    text-decoration:none;
}