.navbar-brand img{
    width: 100px;
    position: relative;
    margin-top: 0%;
    margin-left: 30%;
}

.container-fluid{
    
    max-height: 50px;
}

.collapse{
    margin-left: 5%;
}

.navbar-nav .nav-item{
    padding: 10px;
    font-family: var(--font-family-primary);
    
}

.navbar-nav .nav-item .nav-link{
    border-radius: 1.5rem;
}

.active{
    // background-color: var(--lightblue);
    // border-radius: 1.5rem;
    // color: #fff !important;
    transform: scale(1.1);
    font-weight: 600;
    color: rgb(65, 64, 64) !important;
    
}

.dropdown-item{
    color: var(--lightblue); 
    transition: 0.7s all ease;
    overflow: hidden;
    font-size: 1.1rem;
}



.dropdown-item:hover{
    background-color: var(--mainGrey);    
    transform: scale(1.1);
}


.navbar-nav .nav-item .nav-link:hover{
    background-color: var(--mainGrey);    
    transform: scale(1.1);    
}



.navbar-nav .nav-item .nav-link{
    color: var(--lightblue); 
    transition: 0.7s all ease;
    overflow: hidden;
    font-size: 1.1rem;
}

.navbar-nav .nav-item .nav-link .active{
    text-decoration: underline;
}

#login-form{
    position: absolute;
    opacity: 0;
    right: 30px;
    //animation
    animation-name:bounce-in;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes bounce-in{
    100%{
        opacity: 1;
    }
}

#logout-form{
    position: absolute;
    right: 30px;
}

#logout{
    margin-right: 10px;
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    transition: 0.8s all ease;
    font-size: 1rem;
}

#logout:hover{
    background-color: var(--secondaryColor);
    color: #fff;
    transform: scale(1.1);
}

#backoffice{
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    color: #fff;
    transition: 0.8s all ease;
    font-size: 1rem;
}

#backoffice:hover{
    transform: scale(1.15);
}


#login{
    margin-right: 10px;
    color: var(--lightblue);
    border-color: var(--lightblue);
    transition: 0.8s all ease;
    font-size: 1rem;
}

#login:hover{
    background-color: var(--lightblue);
    color: #fff;
    transform: scale(1.1);
}

#register{
    background-color: var(--lightblue);
    border-color: var(--lightblue);
    color: #fff;
    transition: 0.8s all ease;
    font-size: 1rem;
}

#register:hover{    
    transform: scale(1.15);
}

.dropdown-menu{
    z-index: 99999;
    overflow: hidden;
    
}

.show{
    display: block;
}

#campaign{
    margin-left: -50px;
}

