.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('/assets/img/auth/login.jpg');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}