<h2>Creation News</h2>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="sendCreation()">
        <!-- [formGroup]="formCreation" -->
        <div class="mb-3">
          <label for="InputTitulo" class="form-label">Titutlo</label>
          <input
            type="text"
            class="form-control"
            id="InputTitulo"
            formControlName="titulo"
            placeholder="ingrese titulo"
          />
        </div>
        <div class="mb-3">
          <label for="InputContenido" class="form-label">Contenido</label>
          <input
            type="text"
            class="form-control"
            id="InputContenido"
            formControlName="contenido"
            placeholder="contenido..."
          />
        </div>

        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="categoria"
        >
          <option selected>Categorias</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br />
        <input
          formControlName="img"
          id="uploadImage"
          type="file"
          class="form-control"
          accept="image/*"
          multiple
          (change)="onSelectFile($event)"
        />
      </form>

      <button type="submit" [disabled]="formCreation.invalid">Enviar</button>
    </div>

    <div class="col-md-6">
      <img [src]="files" class="imgPrevi" />
    </div>
  </div>
</div>
