<h2 class="mt-3">Creation News</h2>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6">
      <form
        (ngSubmit)="sendCreation()"
        [formGroup]="formCreation"
        autofill="off"
        autocomplete="off"
      >
        <div class="mb-3">
          <label for="InputTitulo" class="form-label">Titutlo</label>
          <input
            type="text"
            class="form-control"
            id="InputTitulo"
            formControlName="titulo"
            [class.is-invalid]="
              this.formCreation.get('titulo')?.invalid &&
              this.formCreation.get('titulo')?.touched
            "
            placeholder="ingrese titulo"
          />
          <small *ngIf="isInvalid('titulo')" class="p-error block"
            >Titulo invalido min 4 caracteres.</small
          >
        </div>

        <div class="mb-3">
          <label for="InputContenido" class="form-label">Contenido</label>
          <input
            type="text"
            class="form-control"
            id="InputContenido"
            formControlName="contenido"
            placeholder="contenido..."
            [class.is-invalid]="
              this.formCreation.get('contenido')?.invalid &&
              this.formCreation.get('contenido')?.touched
            "
          />
          <small *ngIf="isInvalid('contenido')" class="p-error block"
            >Contenido requerido</small
          >
        </div>

        <!-- <div > -->
        <select
          class="form-select"
          formControlName="categoria"
          [class.is-invalid]="
            this.formCreation.get('categoria')?.invalid &&
            this.formCreation.get('categoria')?.touched
          "
        >
          <option selected>Categorias</option>
          <option *ngFor="let categori of categorias" value="{{ categori.id }}">
            {{ categori.name }}
          </option>
        </select>
        <!-- </div> -->
        <small *ngIf="isInvalid('categoria')" class="p-error block"
          >Categoria Requerido</small
        >

        <br />
        <input
          id="uploadImage"
          type="file"
          class="form-control"
          accept="image/*"
          multiple
          (change)="onSelectFile($event)"
          formControlName="img"
        />
        <small *ngIf="isInvalid('img')" class="p-error block"
          >Imagen Requerida</small
        >

        <br />
        <div class="text-center">
          <button
            type="reset"
            pButton
            type="button"
            label="Cancelar"
            class="p-button-danger m-3"
            (click)="reset()"
          ></button>

          <button
            type="submit"
            [disabled]="formCreation.invalid"
            pButton
            type="button"
            label="Enviar"
            class="p-button-Primary m-3"
          ></button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="contenedor">
        <img [src]="files" class="imgPrevi" />
      </div>
    </div>
  </div>
</div>
