.button{
    border-color: var(--lightblue);
    background-color: var(--lightblue);
    transition: 0.5s ease;
}
.button:hover{
    border-color: var(--lightblue);
    background-color: var(--lightblue);
    transform: scale(1.1);
}