<div class="container justify-content:center align-items-center mt-4">
	<form [formGroup]="activityForm" (ngSubmit)="submitActivity()">
		<div class="row mb-4">
			<div class="col">
				<div class="p-float-label">
					<input
						id="name"
						type="text"
						pInputText
						formControlName="name"
						[ngClass]="
							(activityFormControl.name.touched || submitted) &&
							activityFormControl.name.invalid
								? 'ng-invalid ng-dirty'
								: ''
						"
					/>
					<label for="name">Nombre de la actividad</label>
					<div
						class="text-danger"
						*ngIf="
							(activityFormControl.name.touched || submitted) &&
							activityFormControl.name.invalid
						"
					>
						<span *ngIf="activityFormControl.name.errors?.['required']">
							El nombre es requerido
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<ckeditor
					formControlName="description"
					[config]="config"
					(change)="onChange($event)"
					[editor]="Editor"
					[data]="editorData"
				></ckeditor>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-6">
				<label for="Image" class="form-label"> Suba una imagen</label>
				<input
					formControlName="image"
					type="file"
					(change)="onFileSelected($event)"
					required
				/>
				<div
					class="text-danger"
					*ngIf="
						activityFormControl.image.touched &&
						activityFormControl.image.invalid
					"
				>
					<span *ngIf="activityFormControl.image.errors?.['required']">
						La imagen es requerida
					</span>
				</div>
			</div>
		</div>

		<div class="row mb-4 justify-content-between">
			<div class="col-auto mr-auto">
				<button
					pButton
					pRipple
					type="submit"
					class="p-button-raised"
					label="Crear Categoria"
				></button>
			</div>
			<div class="col-auto">
				<button
					pButton
					pRipple
					type="button"
					(click)="cancelAction()"
					class="p-button-raised p-button-danger"
					label="Cancelar"
				></button>
			</div>
		</div>
	</form>
</div>
