<div class="container justify-content:center align-items-center mt-4">
	<app-title-view [title]="title"></app-title-view>
	<form [formGroup]="activityForm" (ngSubmit)="submitActivity()">
		<div
			class="row pt-4"
			[ngClass]="
				validateControlForSpacing(activityFormControl.name) ? 'mb-4' : ''
			"
		>
			<div class="col">
				<div class="p-inputgroup">
					<div class="p-float-label">
						<input
							id="name"
							type="text"
							class="text"
							pInputText
							formControlName="name"
							[ngClass]="
								validateControlForText(activityFormControl.name)
									? 'ng-invalid ng-dirty'
									: ''
							"
						/>
						<label class="text" for="name">Nombre de la actividad</label>
					</div>
				</div>
				<div
					class="text-danger"
					*ngIf="validateControlForText(activityFormControl.name)"
				>
					<span class="text" *ngIf="activityFormControl.name.errors?.['required']">
						El nombre es requerido
					</span>
				</div>
			</div>
		</div>
		<div class="row pt-4 mb-4">
			<div class="col">
				<ckeditor
					formControlName="description"
					[config]="config"
					(change)="onChange($event)"
					[editor]="Editor"
					[data]="editorData"
				></ckeditor>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<p-image
					[src]="
						activityFormControl.image.value == ''
							? activitySelected.image
							: activityFormControl.image.value
					"
					[alt]="activitySelected.name"
					width="300"
				></p-image>
			</div>
		</div>
		<div
			class="row pt-4"
			[ngClass]="
				validateControlForSpacing(activityFormControl.image) && imageEmpty
					? 'mb-4'
					: ''
			"
		>
			<input
				id="image"
				type="file"
				class="p-button-raised p-button-secondary"
				(change)="onFileSelected($event)"
				accept="image/x-png,image/jpeg"
				required
				#image
				style="display: none"
			/>
			<div class="p-inputgroup">
				<button
					#buttonImage
					type="button"
					pButton
					class="p-button-sm p-button-raised p-button-secondary"
					(click)="image.click()"
					(click)="nothingSelected()"
				>
					Cargar imagen
				</button>
			</div>
			<div class="text-danger" *ngIf="imageEmpty && submitted">
				<span class="text" *ngIf="imageEmpty && submitted"> La imagen es requerida </span>
			</div>
		</div>

		<div class="row pt-4 mb-4 justify-content-between">
			<div class="col-auto mr-auto">
				<button
					pButton
					pRipple
					type="button"
					[routerLink]="['/backoffice/activities']"
					class="p-button-raised p-button-danger"
					label="Cancelar"
				></button>
			</div>
			<div class="col-auto">
				<button
					pButton
					pRipple
					type="submit"
					class="p-button-raised p-button-info"
					[label]="title"
				></button>
			</div>
		</div>
	</form>
</div>
