.font{
    font-family: var(--font-family-primary);
    font-size:28px;
    margin-bottom: 0px;
    color: var(--lightblue);
}
.element-sidebar{
    font-family: var(--font-family-primary);
    font-size:x-large;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--lightblue);
    text-decoration:none;
    transition: 0.5s all ease;
    text-transform: capitalize;
}
.element-sidebar:hover{
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration:none;
    background-color: var(--lightblue);
    color: #fff;
    border-color: var(--lightblue)!important;
    border-radius: 1.5rem;
    transform: scale(1.1);
}

.btn{
    top: 18px;
    position: relative;
    transition: 0.7s ease;
    background: linear-gradient(to right, var(--secondaryColor), var(--accentColor),var(--lightblue));
    color: black;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-size: 1.1rem;  
    font-weight: 800;  
    border: none;
    box-shadow: 0 0 3px 0 gray;
}

.btn:hover{
    transform: scale(1.1);
    z-index: 1000;
}


