<button
	pButton
	pRipple
	type="button"
	label="sidebar"
	class="p-button"
	(click)="display = true"
></button>
<p-sidebar
	[(visible)]="display"
	[transitionOptions]="'0.1s'"
	class="sidebar"
	styleClass="p-sidebar-sm"
>
	<div class="d-flex align-items-center">
		<div class="">
			<p-image
				src="../../../../../assets/img/LOGO-SOMOS-MAS.png"
				weight="100"
				height="100"
				alt="logo-ONG"
			></p-image>
		</div>
		<div class="flex-grow-1">
			<p class="font">&nbsp; Somos mas</p>
		</div>
	</div>
	<hr />
	<div class="d-flex flex-column text-center">
		<a
			*ngFor="let element of elements; index as i"
			href="{{ elementsUrl[i] }}"
			class="align-middle element-sidebar"
			>{{ element }}</a
		>
	</div>
</p-sidebar>
