.font{
    font-family: var(--font-family-primary);
    font-size:28px;
    margin-bottom: 0px;
    color: var(--lightblue);
}
.element-sidebar{
    font-family: var(--font-family-primary);
    font-size:x-large;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--lightblue);
    text-decoration:none;
    transition: 0.5s all ease;
    text-transform: capitalize;
}
.element-sidebar:hover{
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration:none;
    background-color: var(--lightblue);
    color: #fff;
    border-color: var(--lightblue)!important;
    border-radius: 1.5rem;
    transform: scale(1.1);
}