<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div
      class="d-none d-md-flex col-md-4 col-lg-6 bg-image animate__animated animate__fadeInLeft"
    ></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container animate__animated animate__fadeInRight">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 id= "title" class="login-heading mb-4">¡Bienvenido a Somos Más!</h3>

              <!-- Sign In Form -->
              <form
                (ngSubmit)="onSubmit()"
                [formGroup]="loginForm"
                autofill="off"
                autocomplete="off"
              >
                <div class="field mb-2 p-fluid">
                  <label for="float-input">Ingresa tu correo electrónico</label>
                  <input
                    id="inputEmail"
                    pInputText
                    type="email"
                    formControlName="email"
                    [class]="isInvalid('email') ? 'ng-invalid ng-dirty' : ''"
                    placeholder="name@example.com"
                  />
                  <small id="errorEmail" *ngIf="isInvalid('email')" class="p-error block"
                    >Correo electrónico inválido.</small
                  >
                </div>
                <div class="field mb-4 p-fluid mt-2">
                  <label for="password" class="block"
                    >Ingresa tu contraseña</label
                  >
                  <p-password
                    id="inputPassword"
                    autofill="off"
                    autocomplete="off"
                    type="password"
                    [toggleMask]="true"
                    [feedback]="false"
                    formControlName="password"
                    [class]="
                      isInvalid('password') ? ' ng-invalid ng-dirty' : ''
                    "
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    placeholder="Escribe tu contraseña"
                  ></p-password>
                  <small id="errorPassword" *ngIf="isInvalid('password')" class="p-error block"
                    >Contraseña no debe estar vacía.</small
                  >
                </div>

                <div class="d-grid">
                  <button
                    pButton
                    pRipple
                    [disabled]="loading"
                    type="submit"
                    label="Ingresar"
                    class="p-button-raised mr-1"
                  ></button>

                  <div
                    class="text-center mt-3"
                    *ngIf="this.loginForm.valid && loading"
                  >
                    <p-progressBar
                      mode="indeterminate"
                      [style]="{ height: '3px' }"
                    ></p-progressBar>
                  </div>
                </div>
              </form>
              <hr />
              <div class="d-flex justify-content-center">
                <button
                pButton
                pRipple
                class="p-button-raised"
                label="&nbsp; Iniciar sesion con Google"
                (click)="onGoogleLogin() "
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                  </svg>
                </button>
              </div>
              <hr />
              <div class="col text-center">
                <h3 class="login-heading mb-4">¿No tienes un usuario?</h3>
                <div class="text-center mr-3">
                  <div class="btn-group">
                    <button
                      pButton
                      pRipple
                      [disabled]="loading"
                      class="p-button-raised mr-3"
                      routerLink="/auth/register"
                      label="¡Registrate aquí!"
                    ></button>
                    <button
                      pButton
                      pRipple
                      routerLink="/"
                      label="Volver"
                      class="p-button-raised p-button-danger"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>