/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --primaryColor: #fff;
    --secondaryColor: #DB5752;
    --accentColor: #FAFA88;
    --font-family-primary: 'Source Sans Pro', sans-serif;
    --lightblue: #9AC9FB;
}

