/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html,
body {
    height: 100%;
}

:root{
    --primaryColor: #fff;
    --secondaryColor: #DB5752;
    --accentColor: #FAFA88;
    --font-family-primary: 'Comfortaa', cursive;
    --lightblue: #9AC9FB;
}
