/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html,
body {
    height: 100%;
}

:root{
    --primaryColor: #fff;
    --secondaryColor: #DB5752;
    --accentColor: #FAFA88;
    --font-family-primary: 'Comfortaa', cursive;
    --lightblue: #9AC9FB;
}

.wrapper-loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}