<app-navbar></app-navbar>
<section>
  <app-home-slides></app-home-slides>
  <div class="container">
    <div class="welcome">
      <h2>{{welcomeong}}</h2>
    </div>
  </div>
  
  <div class="news">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">
          <h3>Últimas novedades</h3>
      </ng-template>
      <ng-template let-product pTemplate="item">
          <div class="product-item">
              <div class="product-item-content">
                <p-card header="{{product.name}}"  [style]="{width: '360px'}" styleClass="p-card-shadow">
                  <ng-template pTemplate="header">
                      <img alt="Card" src="../../../../../assets/img/auth/login.jpg">
                  </ng-template>
                  <p>{{product.description}}</p>
                  
              </p-card>
              </div>
          </div>
      </ng-template>
  </p-carousel>
  </div>
</section>
<app-footer></app-footer>
