.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('/assets/img/auth/login.jpg');
    background-size: cover;
    background-position: center;
}

.register-heading {
    font-weight: 300;
}

.p-button-raised {
    margin: 0 5px;
}

.terms {
    margin-left: 3px;
    cursor: pointer;
}